<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <title>Student App</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Student App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/addStudent">Add new student</a>
            </li> 
          </ul>
        </div>
      </div>
    </nav>
  <div class="container">
    <br>
    <div class="text-center"><h2>Students from Student App Database</h2></div>
    <br>
  
    <table class="table table-hover small text-center">
      <thead>
          <tr>
            <th width="100">Student ID</th>
            <th width="100">Student Name</th>
            <th width="50">Image</th>
            <th width="50">Contact</th>
            <th width="50">DOB</th>
            <th width="50">Delete</th>
            <th width="50">Edit</th>
          </tr>
      </thead>
      <tbody>
        <% for(let i=0; i < students.length; i++) { %>
          <tr>
            <td><%= students[i].studentId %></td>
            <td><a href="/student/<%= students[i].studentId %>"><%= students[i].name %></a></td>
            <td><img src="<%=students[i].image%>" width="20%"></td>
            <td><%= students[i].contact %></td>
            <td>$<%= students[i].dob%></td>
            <form action="/student/delete/<%= students[i].studentId %>" method="POST">
            <td><button class="link-button">Delete</button></td>
            </form>
            <td><a href="/student/edit/<%= students[i].studentId %>">Edit Here</a></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</body>
</html>
